@import url("https://fonts.googleapis.com/css?family=B612+Mono|Roboto+Mono&display=swap");

body {
  margin: 0;
  font-family: "Roboto Mono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "B612 Mono";
}

.App {
  text-align: center;
}

.nav {
  position: absolute;
  z-index: 20;
  background-color: #455357;
  color: #fff;
  width: 100%;
  text-align: right;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      padding-left: 2em;
      padding-right: 2em;
    }
  }
}

.cover-flex {
  background-color: #09d3ac;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #455357;

  .links {
    position: absolute;
    bottom: 2em;
  }
}

a.coverIcon {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  color: #455357;
  text-decoration: none;

  .icon-label {
    display: block;
    font-size: 0.5em;
  }

  * {
    cursor: pointer;
  }
}

a.coverIcon:hover {
  transform: translateY(-2px);
}

.works-flex {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #09d3ac;

  .work {
    flex: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .work-image {
      max-width: 10em;
    }

    .work-info {
      color: #455357;
      font-size: 0.6em;
    }

    .work-techs {
      p {
        display: flex;
        align-items: center;
        justify-content: center;

        * {
          margin-left: 0.2em;
          margin-right: 0.2em;
        }

        span {
          font-size: 0.6em;
        }

        .custom-logo {
          width: 1.262em;
          height: 1.262em;
        }
      }
    }
  }
}

.link-style {
  color: #09d3ac;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    font-weight: 700;
    transition: all 0.1s ease-in-out;
  }
}

.blog-layout {
  background-color: #fff;
  height: 100vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  overflow: scroll;
}

.blog-header {
  background-color: #fff;
  margin-top: 30px;
  color: #455357;
}

.blog-list-item {
  color: #455357;
  text-decoration: none;

  &-outline {
    border: 1px solid #09d3ac;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

.blog-post-container {
  background-color: #fff;
  color: #455357;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  overflow: scroll;

  .blog-post {
    margin-top: 30px;
    border: 1px solid #09d3ac !important;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;

    .blog-post-cover {
      margin-left: -20px;
      margin-right: -20px;

      img {
        max-width: 100%;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }
    }

    .date {
      font-size: 14px;
      color: gray;
    }
  }
}

.footer {
  text-align: center;
  background-color: #455357;
  color: #fff;
  padding: 5px;
}

.react-color {
  color: #09d3ac;
}

@media (max-width: 400px) {
  .work {
    max-width: 80%;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
}
